
.container {
  display: flex;
  flex-direction: row;
  //gap: 20px;
  width: 100%;
  aspect-ratio: 1760/670;

  .leftSection {
    display: flex;
    flex: 1;
    cursor: pointer;

    .imgContainer{
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }

    .mainImage {
      width: 100%;
      height: 100%;
      object-fit: fill;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      background-color: #000;
    }

    .loaded {
      opacity: 1;
    }
  }

  .rightSection {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 100%;
    gap: 5px;
    aspect-ratio: 1 / 1;
    //border: 2px solid #89cc1c;


    .cell {
      display: flex;
      width: calc(50% - 7px);
      height: calc(50% - 7px);
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      //border: 1px solid red;

      .cellContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 1rem;
        color: var(--main_page_text);
        position: relative;
        background-color: var(--gray-800);
        overflow: hidden;
        justify-content: flex-start;
        //border: 1px solid #89cc1c;
        box-sizing: border-box;
        line-height: 1.2;

        .GTitle {
          font-family: 'Oswald', sans-serif;
          font-size: 1.2rem;
          font-weight: 400;
          align-self: flex-start;
          text-transform: uppercase;
        }

        .description {
          font-family: "Fixel Display", sans-serif;
          font-size: 1rem;
          font-weight: 400;
          align-self: flex-start;
        }

        .recordName{
            font-family: "Oswald", sans-serif;
            font-size: 1rem;
            font-weight: 400;
            align-self: flex-start;
        }

        .recordValue{
            font-family: "Fixel Display", sans-serif;
            font-size: 1rem;
            font-weight: 400;
            align-self: flex-start;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        //border: 2px solid white;
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out;
      }

      img:hover{
        opacity: 1;
      }

      .cellContent p{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 9;
        overflow: hidden;
        margin-bottom: 0;
      }
    }
  }
}


.loader,
.empty {
  padding: 2rem;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}
