.InfoItemValue {
  font-size: 1vw;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  font-family: "Fixel Display", sans-serif;
  display: block;
}
