.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
    background-color: var(--main_page_bckg);
    padding: var(--spacing-perimeter-h) var(--spacing-perimeter-w);
}

