.header {
    display: flex;
    min-height: 95px;
    padding: 0 var(--spacing-perimeter-w);
    background-color: #454545;
    color: white;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

.header.hidden {
    transform: translateY(0);
}

.headerLogo {
    margin-left: 40px;
}

.headerFlame {
}

.logoSliconsContainer {
    display: flex;
    align-items: flex-end;
}

.slIcon {
    margin: 0 clamp(1vw, 1.5vw, 1.5vw);
}