.priceBlock {
  color: var(--main_page_text);
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 0.5rem 0 0 0;
  border-radius: 4px;
  font-family: "Fixel Display", sans-serif;

  .topRow {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    .discount {
      background-color: var(--gray-900);
      padding: 0.2rem 0.5rem 0.1rem 0.5rem;
      font-size: 1.25rem;
      font-weight: 400;
    }

    .original {
      background-color: var(--gray-700);
      padding: 0.25rem 0.5rem 0.15rem 0.5rem;
      font-size: 1rem;
      font-weight: 300;
      text-decoration: line-through;
      filter: drop-shadow(-2px 0px 4px var(--main-950, #1E1E1E));
    }
  }

  .final {
    font-size: 2rem;
    font-weight: 300;
    background-color: var(--gray-900);
    padding: 0.5rem 0.4rem 0.3rem 0.4rem;
    text-align: center;
  }

  .finalFull {
    font-size: 2rem;
    font-weight: 300;
    background-color: var(--gray-900);
    padding: 0.7rem 1.2rem 0.5rem 1.2rem;
    text-align: center;
  }
}

