 
.userInfoContainer {
    display: flex;
    height: auto;
    width: 100%;
    gap: 20px;
    border: 1px solid red;
}

.avatarContainer {
    position: relative;
    display: flex;
    width: 500px;
    height: 400px;
    overflow: hidden;
}

.avatarka {
    width: 86%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
}

.avatarContainer::after {
    display: inline-block;
    content: "";
    position: absolute;
    width: 14%;
    height: 100%;
    right: 0;
    top: 0;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
    background: linear-gradient(to right, var(--gray-800) 5%, rgba(255, 255, 255, 0) 100%);
}

.userDetails {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    justify-content: space-between;
    /*background-color: var(--gray-700);*/
    background-image: url("../../../../../public/assets/images/field_image_istock-516189065.jpg");
}

.userDetailsUsername {
    font-size: 3rem;
    font-weight: 700;
    color: var(--main_page_text);
    text-transform: uppercase;
}

.userDetailsOtherData {
    font-size: 1rem;
    margin: 20px 0;
    color: var(--main_page_text);
}

.userDetailsBio {
    display: flex;
    flex-grow: 2;
    resize: none;
    margin: 10px 0;
    border: 0;
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    color: var(--main_page_text);
    background-color: transparent;
}

.userDetailsButtons{
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.followButton {
    background: var(--gray-800);
    padding: 8px 16px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}
