 
.playButton {
    background: var(--active-element);
    padding: 8px 16px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background 0.3s ease-in-out;
}

.playButton:hover {
    background: var(--hover-color);
}
