.borderedContainer {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 4px;
  transform: scale(0.97);
}

.borderedContent {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main_page_bckg);
}

/* Оригінальна логіка рамки */
.inputBorderPadding {
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  border-radius: 2px;
}

.inputBorder {
  position: absolute;
  top: -4px;
  left: -4px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 2px solid var(--gray-100);
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.inputBorder:hover {
  border-color: var(--hover-color);
}

.cornerCover {
  position: absolute;
  background-color: var(--main_page_bckg);
  z-index: 3;
}

/* Горизонтальні смуги */
.horizontal {
  transform: translateX(-50%);
  left: 50%;
  width: calc(100% - 2vw);/* Розмір ГОРИЗОНТАЛЬНИХ ел-тів рамочок */
  height: 6px;
  top: -6px;
}

.bottom {
  bottom: -6px;
  top: 100%;
}

/* Вертикальні смуги */
.vertical {
  height: calc(100% - 2vw);/* Розмір ВЕРТИКАЛЬНИХ ел-тів рамочок */
  width: 6px;
  left: -6px;
  top: 50%;
  transform: translateY(-50%);
}

.right {
  right: -6px;
  left: 100%;
}
