.button {
    display: flex;
    all: unset;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0;
    box-sizing: border-box;
    background-color: var(--active-element);
    box-shadow: -4px 0 4px 0 rgba(0, 0, 0, 0.25);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Fixel Display", sans-serif;
    color: var(--main_page_text);
    font-size: clamp(1rem, 3vw, 4.5rem);
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    transition: all 0.3s ease-in-out;
    user-select: none;
}

.button:hover {
    background-color: var(--hover-color);
}

.button span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    line-height: 1;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    transition: transform 0.3s linear;
}

.shrink {
    transform: scale(0.66);
}

.error {
    background-color: var(--warning-color) !important;
}

.success {
    background-color: var(--approval-color) !important;
}

/* Варіанти кнопок */
.radius {
    border-radius: 0 2px 20px 0;
    padding: 10px 20px;
}
