
.resetPassPageContainer {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: var(--gray-900);
    background-image: url("../../../../../public/assets/images/login/Log_image_bkg.svg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.resetPassFormContainerMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 67%;
    padding-top: 3vh;
    margin-top: 3vh;
    /*border: 5px solid #12f3a4;*/
    box-sizing: border-box;
}

@media screen and (min-height: 1080px){
    .resetPassFormContainerMain{
        padding-top: 8vh;
        width: 45%;
        height: 58%;
    }

}

.resetPassFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 360px;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    /*border: 1px solid  #f39c12;*/
}

.resetPassLogo{
    display: flex;
    text-align: right;
    font-family: 'Oswald', sans-serif;
    color: var(--main_page_text);
    margin-right: 20px;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.resetPassFormContainerMainBlock{
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    height: 80%;
    /*border: 1px solid  #6894b2;*/
}

.logVariantsBar{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    width: auto;
    gap: 10px;
    height: 75%;
    justify-self: center;
    align-self: flex-start;
    /*border: 1px solid #89cc1c;*/
}

.logVariantsBarText{
    display: flex;
    width: auto;
    height: 100%;
    /*border: 1px solid #e70909;*/
}

.logVariantsBarTextImg{
    display: flex;
    width: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #2a1d04;*/
}

.logVariantsBarIcons{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logVariantsBarContentIcon{
    width: clamp(2rem, 5vh, 50px);
    height: clamp(2rem, 5vh, 50px);
}

.resetPassForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    /*border: 1px solid #29f312;*/
}

.resetPassFormBody {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    /*border: 2px solid #e70909;*/
}

.resetPassFormFooter{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    padding: 0 20px;
    width: 100%;
    height: 20%;
    justify-content: space-between;
    align-items: center;
    /*border: 1px solid #0b599c;*/
}

.resetPassFormFooterLinks{
    display: flex;
    box-sizing: border-box;
    width: auto;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5px;
    /*border: 1px solid #0b599c;*/

}

.resetPassFormFooterLinksLink{
    color: var(--gray-400, #ACACAC);
    font-family: "Fixel Display", sans-serif;
    font-size: clamp(0.5rem, 1.1vw, 1.5rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.resetPassFormBodyLabel{
    box-sizing: border-box;
}

.resetPassFormBodyLabelName{
    font-size: 1.2rem;
    color: var(--main_page_text);
    font-weight: 300;
    text-transform: uppercase;
    margin-left: 5px;
}