
.friendsListContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--gray-700);
  overflow-y: auto;
  padding: 20px 0;

  .friendsListContainerName {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--main_page_text);
    margin-bottom: 15px;
  }
}