.newsItem {
  display: flex;
  flex-direction: column;
  min-width: 0;
  color: var(--main_page_text);
}

.title {
  font-size: 36px;
  margin-bottom: 16px;
}

.date {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 16px;
}

.image {
  width: 100%;
  border-radius: 2px;
  margin-bottom: 14px;
}

.description {
  font-family: "Fixel Display", sans-serif;
  line-height: normal;
  font-size: 1.5rem;
  font-weight: 500
}
