
.friendsListContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .friendsListContainerName {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--main_page_text);
    margin-bottom: 15px;
  }
}