.statsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //background: var(--gray-800);
    width: 100%;
    box-sizing: border-box;

    .statsContainerName {
        display: flex;
        justify-content: flex-start;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        font-size: 3rem;
        margin-bottom: 3vh;
        color: var(--main_page_text);
    }

    .statsContainerMain {
        display: flex;
        align-items: flex-start;
        gap: 3vw;

        .statsContainerMainFlItem {
            display: flex;
            flex-direction: column;
            align-self: flex-start;
        }
    }

    .statsContainerMainItem {
        display: flex;
        flex-direction: column;
        border: 1px solid #89cc1c;
    }

    .leftSide {
        display: flex;
        width: 60%;
        gap: 3vw;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid green;
        box-sizing: border-box;
    }

    .statsContainerMainFrList {
        display: flex;
        flex-direction: column;
        background-color: #222;
        overflow-y: auto;
        border: 1px solid #ff9100;
        min-height: 0;
        flex-grow: 0;
        flex-shrink: 1;
    }
}

.ItemContainerName {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--main_page_text);
    margin-bottom: 15px;
}
