.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
