.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  //aspect-ratio: 1760 / 375;
}

.viewport {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  height: 100%;
  gap: 1.5rem;
  padding: 0 0.5rem;
}

.slide {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 calc((100% - 3rem) / 3); // 3 слайди + 2 * gap
  height: 100%;
  background-color: #333;
  overflow: hidden;
  border: 1px solid #222;
  box-sizing: border-box;

  .imageWrapper {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    display: block;
  }

  .title {
    display: flex;
    height: 15%;
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - 1px);
    font-family: "Fixel Display", sans-serif;
    padding: 1rem 1rem 0.8rem 1rem;
    line-height: 1;
    background: var(--gray-900);
    color: var(--main_page_text);
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    box-sizing: border-box;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }
}


