.container {
  width: 100%;
  margin: 10px 0;

  .progressBar {
    height: 24px;
    background-color: var(--gray-800);
    overflow: hidden;
  }

  .label {
    font-family: "Fixel Display", sans-serif;
    font-weight: 700;
    font-size: 10px;
    color: var(--main_page_text);
    margin-top: 10px;
  }
}
