.gcContainer {
    display: flex;
    flex-direction: column;
    background-color: #222;
    width: 100%;
    box-sizing: border-box;

    .gcContainerName {
        font-size: 2rem;
        font-weight: 400;
        text-transform: uppercase;
        color: var(--main_page_text);
        margin-bottom: 15px;
    }

    .mainBlock {
        display: grid;
        width: 100%;

        .gcList {
            display: flex;
            justify-content: space-around;
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;

            .gcItemLi {
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 1vh 0;
                background: var(--gray-900);

                .gcItem {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    color: var(--main_page_text);

                    .gcItemCount {
                        line-height: 1;
                        font-size: 10vw;
                        font-weight: 500;
                    }

                    .gcItemName {
                        font-size: 1.5vw;
                        font-weight: 400;
                        font-family: "Fixel Display", sans-serif;
                    }
                }
            }
        }
    }








}
